[user]
    name = Olivier Ligot
    email = oligot@gmail.com
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    di = diff
    dic = diff --cached -C
    unstage = reset HEAD --
    last = log -1 HEAD
    bd = for-each-ref --sort=-committerdate refs/heads/
[color]
    ui = auto
[core]
    autocrlf = input
    whitespace = cr-at-eol
    excludesfile = ~/.gitignore
[push]
    default = simple
[merge]
    tool = vimdiff
