[user]
    name = Olivier Ligot
[alias]
    bd = for-each-ref --sort=-committerdate refs/remotes/
    stash-all = stash save --include-untracked
[core]
    autocrlf = input
    whitespace = cr-at-eol
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
[push]
    default = simple
[merge]
    tool = vimdiff

    # Standard diff is two sets of final changes. This introduces the original text before each side's changes.
    # https://git-scm.com/docs/git-config#git-config-mergeconflictStyle
    conflictstyle = diff3
[status]
    showUntrackedFiles = all
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    untracked = yellow

# use separate file for username / github token / etc
[include]
    path = ~/.gitconfig.local
[diff]
    compactionHeuristic = true
	colorMoved = zebra
[fetch]
    prune = true
